{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
<div class="container py-5 text-center">
    <table  class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
                {% for row in historyT %}
                <tr>
                    <td class="text-start">{{row['symbol']}}</td>
                    <td class="text-start">{{row['name']}}</td>
                    <td class="text-end">{{row['shares']}}</td>
                    <td class="text-end">{{row['price']}}</td>
                    <td class="text-end">{{row['transacted']}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}