body, html{
    height: 100%;
}
.mBody{
    background-image: url(images/mainPic.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.flex-column{
    justify-content: center;
    padding-top:50px;
}
.nav-item{
    text-align: center;
    font-size: 25px;
}
.nav-link{
    color: #b9845d;
}
.link{
    color: #000000;
}
.nav-item:hover{
    color: #000000;
}
a:hover {
    color: #2f3735 !important;
}
.txtArea{
    background-color: rgba(255,255,255,.4);
    margin: auto;
    width:75%;
    border-radius: 10px;
    padding: 10px;
}
.text{
    color: black;
}
#thanks{
    display: NONE;
}
.travel-photo{
    height: 500px;
}
.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    cursor: pointer;
}
#right-side{
    display:block;
    height: 100%;
    width: 50%;
    margin-left: 50%;
}
.collapsible {
    background-color: rgba(255,255,255,0);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
  }

  .active, .collapsible:hover {
    background-color: rgba(204,204,204,0.4);

  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(241,241,241,0.4);
  }
  .btn-primary{
    background-color: #b9845d;
    border-color: #b9845d;
    margin-top: 5px;
    /*font-size: 30px;*/
  }
